# Google Sheets
VITE_GOOGLE_SHEETS_ID=1P3p1C6Th1w3JRLOyFgVjxzlI_qXZh6OPud2cK_dbbco
VITE_GOOGLE_SHEETS_NAME=Feuille1

# En-têtes CSV / Google Sheets (modifiez les valeurs, pas les clés)
VITE_COLUMN_ID=Id
VITE_COLUMN_LAST_NAME=Nom
VITE_COLUMN_FIRST_NAMES=Prénoms
VITE_COLUMN_FATHER=Père
VITE_COLUMN_MOTHER=Mère
VITE_COLUMN_SPOUSE=Époux(se)
VITE_COLUMN_NOTES=Notes
VITE_COLUMN_PHOTO=Photo
